<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:b="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    					http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    					http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-3.0.xsd">
                        
	<!-- <context:property-placeholder location="classpath:hibernate.properties"/> -->
	<http>

		<intercept-url pattern="/admin/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/**" access="ROLE_USUARIO" />
		<form-login login-page="/publico/login.jsf"
					always-use-default-target="true" 
					default-target-url="/restrito/index.jsf"
					authentication-failure-url="/publico/login.jsf?login_error=1" />
		<logout/>
		<remember-me />
	</http>

	<authentication-manager>
		<authentication-provider>
<!-- 			<password-encoder hash="md5" /> -->
			<jdbc-user-service data-source-ref="prajurDataSource"
				authorities-by-username-query="SELECT u.user_login, p.permissao 
											   FROM usuario u, usuario_permissao p 
											   WHERE u.codigo = p.usuario 
											   AND u.user_login = ?"
				users-by-username-query="SELECT user_login, user_senha, user_ativo 
									     FROM usuario 
									     WHERE user_login = ?" />
		</authentication-provider>
	</authentication-manager>
</b:beans>
